:root {
    --primary-color: #1E90FF;
    --secondary-color: #F4E1C1;
    --accent1-color: #2e8b57;
    --accent2-color: #FF7F50;
    --heading_font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}