main {
    max-width: 840px;
    margin: 0 auto;
}

img {
    width: 150px;
    height: auto;
    border: 1.5px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}




main img {
    width: 150px;
    height: auto;
    border: 1.5px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #7a7676;
    padding: 1rem;
    background-color: #ffffff;
    color: #7a7676;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

nav {
    background-color: lightblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: lightblue;
}

